body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

@keyframes slideInFromRight {
  0% {
    border-radius: 750px;
    opacity: 0.7;
    scale: 0.4;
  }

  100% {
    border-radius: 20px;
    opacity: 1;
    scale: 1;
  }
}

.body {
  animation: 0.7s ease-out 0s 0.8 slideInFromRight;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-family: arial, sans-serif;
  overflow: auto;
}

.welcomDiv {
  user-select: none;
  gap: 15px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1 {
  font-weight: bold;
  font-size: xxx-large;
}

.titreBox {
  user-select: none;
  padding-top: 5rem;
}

.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.box {
  max-width: 26rem;
  font-size: 1.3rem;
  background: rgba(255, 255, 255, 0.3);
  padding: 3rem;
  border: 6px solid rgba(255, 255, 255, 0.3);
  border-radius: 40px;
}

.form-group {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 1rem 1rem 0;
  text-align: left;
}

.labelsSignup {
  margin: 12px;
  font-size: 1.2rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.inputs:not(:last-child) {
  margin-bottom: 1.5rem;
}

.labels:last-child {
  margin-top: 4rem;
}

.inputs {
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid #f1eff1;
  padding: 1rem;
  outline: none;
  border-radius: 50px;
  font-family: arial, sans-serif;
}

.inputsSignup {
  margin: 6px;
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid white;
  padding: 0.7rem 0.7rem 0.7rem 17px;
  outline: none;
  border-radius: 24px;
}

.inputs:hover,
.inputs:focus {
  background: rgb(213 157 217 / 50%);
  transition: all 0.3s;
}

.formlabel {
  margin: 8px 0;
}

.title {
  margin: 0 0 15px;
  font-family: "Nunito", sans-serif;
  color: #000000;
  text-align: center;
  font-size: 40px;
}

.inputs::-webkit-outer-spin-button,
.inputs::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.inputs[type="number"] {
  -moz-appearance: textfield;
}

.button {
  background: #e0d8f0;
  border: 2px solid white;
  padding: 1rem;
  border-radius: 50px;
  width: 150px;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s;
}

.button:hover:enabled,
select:hover,
.button:hover {
  background: rgba(105, 208, 49, 0.7);
  transition: all 0.3s;
}

.button:disabled {
  cursor: not-allowed;
}

option {
  background: white;
}

.popButton,
.popButtonDelete {
  text-decoration: none;
  padding: 10px;
  background-color: rgb(56 182 255 / 90%);
  border-radius: 20px;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.popButtonDelete:hover {
  background: rgb(222, 14, 14) !important;
  transition: all 0.3s;
}

.popButton:hover {
  background: rgb(214 226 44 / 83%) !important;
  transition: all 0.3s;
}

.popButtonDelete:hover {
  background: rgba(226, 65, 44, 0.83) !important;
  transition: all 0.3s;
}

.info {
  font-weight: 500;
  opacity: 0.7;
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.success {
  color: limegreen;
}

.error {
  color: #ff0000;
}

.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  margin: 0 8rem;
  border-radius: 15px;
  padding: 7px;
  cursor: pointer;
  animation: 1.3s ease-in-out 0s 1 opacite;
}

.edit {
  position: relative;
  top: 55%;
  left: 35%;
  width: 35px;
  height: 35px;
  rotate: -5deg;
  animation: 1.8s ease-in-out 0s 1 slideInFromBottom;
}

.avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: 1.5s ease-in-out 0s 1 slideInFromBottom;
}

@keyframes opacite {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0.3;
    transform: translateX(75%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.status-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.status-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-spinner {
  width: 14px;
  height: 14px;
  margin-left: 10px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #2ecc71;
  border-right: 2px solid #2ecc71;
  border-radius: 50%;
  animation: spinnerRotate 0.8s ease-in-out infinite;
  transition: all 0.3s ease;
}

@keyframes spinnerRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.status-indicator {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  margin-left: 10px;
}

.status-error {
  color: red;
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
}

.contact-message {
  font-family: "Arial", sans-serif;
  text-align: center;
}

.contact-message button {
  color: black;
  background-color: #ffffff;
  border: none;
  padding: 8px 15px;
  border-radius: 18px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}